@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(24px);
  }
}

.animate-bounce {
  animation: bounce 1.5s infinite;
}
canvas {
  pointer-events: none !important;
}